
body {
    font-family: Arial, sans-serif;
}
main {
    max-width: 600px;
    margin: auto;
}
form {
    display: grid;
    gap: 10px;
}
div {
    display:flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
}
input {
    padding: 7px;
    margin-bottom: 10px;
}